.joe-footer-container {
  width: 100%;
  background-color: #555B6E;
}

.joe-footer {
  height: 8vh;
  width: 100%;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.joe-footer p {
  color: #FAF9F9 !important;
  font-weight: 500;
  font-size: 0.75rem;
  padding-left: 3rem;
  margin: 0;
}