/* Welcome */
.joe-welcome {
  margin-top: 13vh;
  height: 87vh;
  width: 100%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joe-welcome-msg {
  color: #EFF1F3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 16.75vh;
}

@media all and (max-width: 767px) {
  .joe-welcome-msg { 
    font-size: 7vh;
  }
}

/* Dynamic Headshots */
.joe-intro-text {
  font-size: 3vw;
  font-weight: 500;
}

@media all and (max-width: 767px) {
  .joe-intro-text { 
    font-size: 4vh;
  }
}

.joe-intro-row {
  align-items: stretch;
  margin: 0;
}

.joe-headshot-row {
  align-items: center;
  margin: 0;
}

.joe-headshot-background {
  background-color: #555b6e;
}

.joe-headshot-column {
  height: 25vw;
  width: 25vw;
  padding: 0 !important;
  display: flex;
}

.joe-headshot-box-1 {
  align-items: flex-end;
  justify-content: flex-end;
}

#joe-dynamic-headshots:hover .joe-headshot-column .joe-headshot-box-1 img {
  transform: translateX(100%) scaleX(1);
  transition: all 2s ease;
}

.joe-headshot-box-2 {
  transform: scaleX(-1);
  align-items: flex-end;
  justify-content: flex-end;
}

#joe-dynamic-headshots:hover .joe-headshot-column .joe-headshot-box-2 img {
  transform: translateY(100%) scaleX(-1);
  transition: all 2s ease;
}

.joe-headshot-box-3 {
  align-items: flex-start;
  justify-content: flex-end;
}

#joe-dynamic-headshots:hover .joe-headshot-column .joe-headshot-box-3 img {
  transform: translateY(-100%) scaleX(1);
  transition: all 2s ease;
}

.joe-headshot-box-4 {
  background-color: transparent;
  transform: scaleX(-1);
  align-items: flex-start;
  justify-content: flex-end;
}

#joe-dynamic-headshots:hover .joe-headshot-column .joe-headshot-box-4 img {
  transform: translateX(100%) scaleX(-1);
  transition: all 2s ease;
}

.joe-mobile-headshot {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.joe-headshot {
  height: auto;
  width: 100%;
  transform: scale(-1);
  background-color: #FAF9F9;
}

.joe-description-column {
  height: 50vw;
  color: #555B6E;
  background-color: #FAF9F9;
}

.joe-description-content {
  height: 50%;
  display: flex;
  align-items: center;
}

.joe-description-padded {
  padding: 2rem;
}

.joe-description-left {
  height: 100%;
  color: #FAF9F9;
  background-color: #8F94A3;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.joe-description-right {
  height: 100%;
  color: #555B6E;
  background-color: #add2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.joe-about-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #555B6E;
  font-size: 2vw;
  text-align: center;
}

.joe-about-text:hover {
  text-decoration: none;
  color: #555B6E;
}

.joe-w-about {
  width: 10vw;
  height: auto;
  margin-bottom: 1.5vw;
}

/* Links */
.joe-links {
  height: 25vw;
  background-color: #FAF9F9;
}

.joe-link-text {
  color: #FAF9F9;
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.joe-link-text:hover {
  text-decoration: none;
  color: #FAF9F9;
}

.joe-home-icon {
  font-size: 8vw;
  margin: 0vw;
  color: #FAF9F9;
  margin-bottom: 2vw;
}

.joe-link-a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.joe-link-a:hover {
  text-decoration: none;
}

.joe-link-a:hover .joe-home-icon {
  color: #555B6E;
  font-size: 9vw;
}

.joe-link-a:hover .joe-link-text {
  color: #555B6E;
  font-size: 2.5vw;
}

.joe-link-a:hover .joe-about-text {
  font-size: 2.5vw;
  color: #e46f62;
}

.joe-link-a:hover .joe-w-about {
  display: none;
}

.joe-w-about-highlight {
  display: none;
}

.joe-link-a:hover .joe-w-about-highlight {
  display: flex;
  width: 12vw;
  height: auto;
  margin-bottom: 1.5vw;
}

.joe-link-column {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.joe-link-box-purple {
  height: 25vw;
  background-color: #8F94A3;
  padding: 0;
}

.joe-link-box-red {
  height: 25vw;
  background-color: #e77f73;
  padding: 0;
}

/* Projects */
.joe-projects {
  background-color: #FAF9F9;
}

.joe-projects-row {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  color: #555B6E;
}

.joe-projects-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.joe-projects-name-text {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.joe-projects-name-click:hover {
  cursor: pointer;
  font-size: 2.1vw;
}

#joe-projects-name-active {
  text-decoration: underline;
}

.joe-projects-row {
  height: 50vw;
  padding: 2.5vw;
  width: 100%;
}

.joe-angle {
  font-weight: 300;
  color: #FAF9F9;
  font-size: 4vw;
}

.joe-angle-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #FAF9F9;
}

.joe-angle-hover {
  cursor: pointer;
  user-select: none;
  background-color: #8F94A3;
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.joe-angle-hover:hover {
  background-color: #555B6E;
  width: 8.5vw;
  height: 8.5vw;
}

.joe-angle-col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
}

.joe-projects-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #555B6E;
  font-size: 3vw;
  width: 100%;
  margin-top: 2vw;
}

.joe-projects-text {
  font-size: 2vw;
}

.joe-projects-column {
  padding: 0 !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.joe-projects-image-box {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 90%;
  height: 25vw;
}

.joe-projects-image {
  width: 85%;
  height: auto;
}

.joe-project-linked:hover .joe-projects-row .joe-link-column .joe-projects-image-box .joe-projects-image {
  width: 95%;
  height: auto;
}

.joe-projects-graph-box {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 90%;
  height: 25vw;
  padding: 1.5vw;
}

.joe-projects-graph {
  height: 17vw;
  width: 100%;
}

.joe-project-a {
  width: 66vw;
  padding-left: 1vw;
}

.joe-project-a:hover {
  text-decoration: none;
}

.red-mirage {
  margin-left: -5%;
}

/* Small Size */
@media all and (max-width: 767px) {
  .joe-headshot-column { 
    display: none;
  }
  .joe-mobile-headshot {
    display: flex;
    background-color: #add2ff;
  }
  .joe-mobile-headshot .joe-headshot {
    transform: scale(1);
    width: 100%;
  }
  .joe-description-column {
    height: auto;
  }
  .joe-description-content {
    height: auto;
    text-align: center;
  }
  .joe-project-text {
    font-size: 4vh;
  }
  .joe-description-right {
    display: none;
  }
  .joe-links {
    display: none;
  }
  .joe-projects-select {
    height: auto;
  }
  .joe-projects {
    height: auto;
  }
  .joe-projects-text {
    font-size: 4vh;
    text-align: center;
  }
  .joe-projects-row {
    height: auto;
    font-size: 4vh;
    width: auto;
  }
  .joe-project-a {
    padding-left: 0;
    width: 100%;
    padding-top: 6vw;
  }
  .joe-projects-title {
    font-size: 4vh;
    text-align: center;
  }
  .joe-projects-header {
    font-size: 4vh;
    text-align: center;
  }
  .joe-hide-mobile {
    display: none;
  }
  .joe-projects-select {
    height: auto;
    padding: 3rem;
  }
  .joe-angle {
    font-size: 15vw;
    color: #555B6E;
  }
  .joe-angle-text {
    font-size: 6vw !important;
    padding-bottom: 6vw;
    color: #555B6E;
  }
  .joe-mobile-smaller {
    width: 80%;
  }
  .joe-angle-hover {
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .joe-angle-hover:hover {
    background-color: transparent;
    width: auto;
    height: auto;
  }
  .joe-projects-graph {
    height: 25vh;
  }
  .joe-projects-graph-box {
    height: 35vh;
    margin-bottom: 2vh;
  }
  .joe-projects-image-box {
    height: 35vh;
    margin-bottom: 2vh;
  }
}