.joe-navbar {
  height: 11vh;
  width: 100%;
  padding: 0 !important;
}

.joe-navbar-color {
  background-color: #13262E;
  transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
}

.joe-navbar-solid {
  background-color: #13262E;
}

.joe-brand {
  font-family: 'Raleway', sans-serif;
  color: #EFF1F3 !important;
  font-weight: 900;
  font-size: 5vh;
  padding-left: 3rem;
}

.joe-brand:hover {
  transform: scale(1.05);
}

.joe-menu-dropdown a {
  color: #EFF1F3 !important;
  font-size: 2.75vh;
  font-weight: 700;
}

.joe-menu-dropdown a:hover {
  color: #F5E296 !important;
  transform: scale(1.05);
}

.joe-menu-dropdown .dropdown-menu {
  background-color: #EFF1F3;
}

.joe-menu-dropdown .dropdown-menu a {
  color: #13262E !important;
}

.joe-menu-dropdown .dropdown-menu a:hover {
  background-color: #dee2e5 !important;
  transform: scale(1) !important;
}

.joe-menu-item {
  color: #EFF1F3 !important;
  font-weight: 700;
  font-size: 2.75vh;
}

.joe-menu-item:hover {
  color: #F5E296 !important;
  transform: scale(1.05);
}

.navbar-toggler-icon {
  background-image: none !important;
  color: #EFF1F3 !important;
  border-color: transparent !important;
  padding: 0 1rem 0 0 !important;
}

.navbar-toggler-icon:focus {
  outline: 0 !important;
}

.navbar-collapse {
  padding-left: 1rem;
}

.joe-icon-shift {
  padding-right: 1rem !important;
}

.joe-icon-row {
  display: flex;
  align-items: center;
}

.joe-menu-icon {
  color: #EFF1F3 !important;
  font-size: 3vh;
  padding-right: 1rem;
}

.joe-menu-icon:hover {
  color: #F5E296 !important;
  transform: scale(1.05);
}

.joe-nav-pad {
  padding-right: 2rem;
}

@media all and (max-width: 767px) {
  .joe-nav-pad { 
    padding-top: 0.25rem;
    padding-bottom: 1rem;
  }
}

.navbar-toggler-icon {
  margin-right: 2rem !important;
}

.navbar-collapse {
  padding-left: 3rem !important;
}