.joe-navbar {
  height: 11vh;
  width: 100%;
  padding: 0 !important;
}

.joe-navbar-color {
  background-color: #555B6E;
  transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  -webkit-transition: background-color 0.25s ease;
}

.joe-navbar-solid {
  background-color: #555B6E;
}

.joe-brand {
  font-family: 'Raleway', sans-serif;
  color: #FAF9F9 !important;
  font-weight: 900;
  font-size: 5vh;
  padding-left: 3rem;
}

.joe-brand:hover {
  color: #F2ED69 !important;
  transform: scale(1.05);
}

.joe-menu-dropdown a {
  color: #FAF9F9 !important;
  font-size: 2.75vh;
  font-weight: 700;
}

.joe-menu-dropdown a:hover {
  color: #F2ED69 !important;
  transform: scale(1.05);
}

.joe-menu-dropdown .dropdown-menu {
  background-color: #FAF9F9;
}

.joe-menu-dropdown .dropdown-menu a {
  color: #555B6E !important;
}

.joe-menu-dropdown .dropdown-menu a:hover {
  background-color: #F2ED69 !important;
  transform: scale(1) !important;
}

.joe-menu-item {
  color: #FAF9F9 !important;
  font-weight: 700;
  font-size: 2.75vh;
}

.joe-menu-item:hover {
  color: #F2ED69 !important;
  transform: scale(1.05);
}

.navbar-toggler-icon {
  background-image: none !important;
  color: #FAF9F9 !important;
  border-color: transparent !important;
  padding: 0 2.5rem 0 0 !important;
}

.navbar-toggler-icon:focus {
  outline: 0 !important;
}

.navbar-collapse {
  padding-left: 1rem;
}

.joe-icon-shift {
  padding-right: 1rem !important;
}

.joe-icon-row {
  display: flex;
  align-items: center;
}

.joe-menu-icon {
  color: #FAF9F9 !important;
  font-size: 3vh;
  padding-right: 1rem;
}

.joe-menu-icon:hover {
  color: #F2ED69 !important;
  transform: scale(1.05);
}

.joe-nav-pad {
  padding-right: 2rem;
}

@media all and (max-width: 767px) {
  .joe-nav-pad { 
    padding-top: 0.25rem;
    padding-bottom: 1rem;
  }
}

.navbar-toggler-icon {
  margin-right: 2rem !important;
}

.navbar-collapse {
  padding-left: 3rem !important;
}